<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑英雄</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="header">
    <div th:replace="public/header::header" ></div>
</div>
<div style="margin:0px auto; width:500px">
   
    <form action="updateHero" method="post">
       
    name: <input name="name" th:value="${h.name}"/> <br/>
    血量: <input name="hp" th:value="${h.hp}"/> <br/>
       
    <input name="id" type="hidden" th:value="${h.id}"/>
    <button type="submit">提交</button>
    <button type="button"  onclick="window.history.back(-1);">取消</button>     
    </form>
</div>

<div class="showing">
    <div th:replace="public/footer::footer1" ></div>
    <div th:replace="public/footer::footer2(2015,2018)" ></div>
</div>
</body>
 
</html> 